<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-table">
			<h1><%= error %></h1>
			<pre><%= #{error_description} %></pre>
         </div>
        </div>
        
<%- include layouts/footer.ejs %